/*********************************************
* Filename: style.css
* Website: Front-End Implementation Test
* Author: Sergi Duran Nyssen
* Author URI: http://nyssen.me
* Date: 20/01/2020
* Version: 1.0
*********************************************/

/* Variables */
:root {
    --bg-color: #f2f4ee;
    --font-color: #85521c;
    --primary-color: #ffffff;
    --secondary-color: #bbb6a7;
}

/* Minimal reset */
html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Custom */
body {
	font-family: "ff-tisa-web-pro", serif;
    background-color: var(--bg-color);
    color: var(--font-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

header {
    max-width: 1200px;
    margin: 0 auto;
}

.phone {
    font-size: 1.625rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: right;
    margin: 1em auto 0.5em;
}

.phone a {
    font-weight: normal;
    line-height: 2;
}

.hero-image {
    display: block;
    position: relative;
    margin: 0;
}

.caption-text {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%) translateX(0);
    background-color: transparent;
    color: var(--primary-color);
}

.caption-text h1 {
    font-size: 3.063rem;
    text-transform: uppercase;
    font-weight: bold;
}

.caption-text h1 a {
    display: block;
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    line-height: 1.4;
    padding: 0;
    margin: 0 auto 0.35em;
}

.caption-text h2 {
    font-size: 2.125rem;
    line-height: 1.2;
}

.navbar ul {
    margin: 1em 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    width: 23.5%;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.navbar ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 8px solid var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    flex: 1 0 auto;
    line-height: 1.3;
    padding: 1em;
}

.navbar ul li a:hover,
.navbar ul li a:focus {
    border-color: var(--secondary-color);
}

.navbar ul a span {
    display: block;
    font-size: 1.375rem;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
}


/* Media queries */
@media (max-width: 600px) {
    .phone {
        font-size: 1.375rem;
        margin: 1em 0.5em 0.5em;
    }
    
    .phone span {
        display: none;
    }
    
    .caption-text {
        position: absolute;
        top: auto;
        bottom: 15%;
        left: 50%;
        transform: translateY(0) translateX(-50%);
        text-align: center;
    }

    .caption-text h1 {
        font-size: 2.313rem;
    }

    .caption-text h1 a {
        color: var(--primary-color);
    }

    .caption-text h2 {
        font-size: 1.438rem;
    }
    
    .navbar ul {
        flex-direction: column;
        padding: 0 1em;
    }
    
    .navbar ul li {
        width: 100%;
        margin: 0.5em 0;
    }
    
    .navbar ul li a {
        font-size: 1.25em;
        border-width: 6px;
        padding: 0.75em 0.25em;
    }
    
    .navbar ul a span {
        display: none;
    }
}
